
.errorCard{
    text-align: center;
    margin-top: 15px;
    background-color: crimson
  }

  .example-form {
    max-width: 540px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-button-row {
    max-width: 600px;
    margin-bottom: 24px;
  }