<h2>Utwórz nową umowę</h2>

<form class="example-form" #addDealForm="ngForm" (ngSubmit)="addDeal(addDealForm.value)">

    <mat-spinner style="height: 36px;" *ngIf="users.length <= 0"></mat-spinner>
    <mat-form-field *ngIf="users.length > 0" appearance="outline" class="example-full-width">
        <mat-label>Sprzedawca</mat-label>
        <mat-select [(ngModel)]="deal.sellerId" name="sellerId">
            <mat-option *ngFor="let user of users" [value]="user.id">
                {{user.lastName}} {{user.firstName}} - {{user.role}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-spinner style="height: 36px;" *ngIf="packages.length <= 0"></mat-spinner>
    <mat-form-field *ngIf="packages.length > 0" appearance="outline" class="example-full-width">
        <mat-label>Pakiet</mat-label>
        <mat-select [(ngModel)]="deal.packageId" name="package">
            <mat-option *ngFor="let package of packages" [value]="package.id">
                {{package.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Cena</mat-label>
        <input matInput [(ngModel)]="deal.price" name="price" type="number">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Opis</mat-label>
        <textarea matInput [(ngModel)]="deal.description" name="description" type="text"></textarea>
    </mat-form-field>

    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
        <button type="button" (click)="close()" style="margin-left: 16px;" mat-button>Anuluj</button>
    </div>
</form>

<app-error-card *ngIf="errorMessage" errorMessage="{{errorMessage}}"></app-error-card>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>