<h2>Dodaj nowego klienta</h2>
<form class="example-form" #addClientform="ngForm" (ngSubmit)="onSubmit(addClientform.value)">

    <mat-spinner style="height: 36px;" *ngIf="sellers.length <= 0"></mat-spinner>
    <mat-form-field *ngIf="sellers.length > 0" appearance="outline" class="example-full-width">
        <mat-label>Sprzedawca</mat-label>
        <mat-select required [(ngModel)]="sellerId" name="sellerId">
            <mat-option *ngFor="let user of sellers" [value]="user.userId">
                {{user.lastName}} {{user.firstName}} - {{user.role}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Nazwa klienta/firmy</mat-label>
        <input required matInput ngModel name="name" type="text"
            placeholder="nazwa klienta/firmy rozpoznawalna dla nas">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Imię</mat-label>
        <input required matInput ngModel name="firstName" type="text"
            placeholder="imię osoby do kontaktu z tym klientem">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Nazwisko</mat-label>
        <input required matInput ngModel name="lastName" type="text"
            placeholder="nazwisko osoby do kontaktu z tym klientem">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Telefon</mat-label>
        <span matPrefix>&nbsp; +48 &nbsp;</span>
        <input required matInput ngModel name="phone" type="tel"
            placeholder="nr telefonu osoby do kontaktu z tym klientem">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input required matInput ngModel name="email" type="email"
            placeholder="e-mail osoby do kontaktu z tym klientem">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Opis</mat-label>
        <textarea matInput ngModel name="description" type="text"
            placeholder="miejsce na dodatkowe informacje"></textarea>
    </mat-form-field>

    <app-error-card *ngIf="errorMessage" errorMessage="{{errorMessage}}"></app-error-card>

    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
        <button type="button" (click)="close()" style="margin-left: 16px;" mat-button>Anuluj</button>
    </div>

</form>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>