.loginContainer{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.errorCard{
    text-align: center;
    margin-top: 15px;
    background-color: crimson
  }

  