<form class="column-flex center" style="max-width: 500px;" #formFaq="ngForm" (ngSubmit)="onSubmit(formFaq.value)">

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Formularz Produktów</mat-card-title>
            <mat-card-subtitle>Ten formularz zawiera informacje o produktach, jakie oferuje Twoja
                firma.</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-card *ngFor="let number of numbers" class="example-card center">
        <mat-card-header>
            <mat-card-title>Produkt nr {{number}}</mat-card-title>
            <h1></h1>

            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Kategoria</mat-label>
                <input required maxlength="150" #category matInput ngModel name="category{{number}}" type="text"
                    placeholder="Np. słodycze, kosmetyki, kredyty, itp.">
                <mat-hint align="end">{{name.value.length}} / 150</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Nazwa</mat-label>
                <input required maxlength="58" #name matInput ngModel name="name{{number}}" type="text"
                    placeholder="Nazwa jaką widzi klient">
                <mat-hint align="end">{{name.value.length}} / 58</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Cena</mat-label>
                <input #price maxlength="100" matInput ngModel name="price{{number}}" type="text"
                    placeholder="Stała cena, Cena od, Bepłatnie">
                <mat-hint align="end">{{price.value.length}} / 100</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Opis</mat-label>
                <textarea maxlength="1000" #description matInput ngModel name="description{{number}}" type="text"
                    placeholder="Dodatkowy opis produktu"></textarea>
                <mat-hint align="end">{{description.value.length}} / 1000</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Link do produktu na stronie www</mat-label>
                <input #link maxlength="1500" matInput ngModel name="link{{number}}" type="text"
                    placeholder="Opcjonalny link do strony w Twoim sklepie internetowym.">
                <mat-hint align="end">{{link.value.length}} / 1500</mat-hint>
            </mat-form-field>

            <button mat-fab type="button"
                (click)="uploadAndResize(number)"><mat-icon>add_a_photoadd_a_photo</mat-icon></button>
            <img *ngIf="imgResultAfterResize" [src]="apendedImages[number - 1]" alt="" />
            <mat-spinner style="width: 25px;" *ngIf="isImageLoading"></mat-spinner>
            <mat-error>{{fileUploadErrorMessage}}</mat-error>

        </mat-card-content>
    </mat-card>

    <button style="margin-bottom: 16px;" color="warn" *ngIf="numbers.length > 1" mat-button type="button"
        (click)="remove()">Usuń ostatni
        produkt</button>

    <button style="margin-bottom: 45px;" class="center" *ngIf="numbers.length < 20" (click)="add()" type="button"
        mat-fab extended>
        <mat-icon>add</mat-icon>
        Następny produkt
    </button>

    <app-error-card *ngIf="errorMessage" errorMessage="{{errorMessage}}"></app-error-card>

    <mat-card style="margin-top: 5px;" class="example-card center">

        <button mat-raised-button color="primary" type="submit">Wyślij</button>

        <mat-card-footer>

            <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>


</form>