<mat-progress-bar *ngIf="!todos" mode="indeterminate"></mat-progress-bar>

<div class="example-container mat-elevation-z0">
    <div style="justify-content: space-between;" class="row-flex">

        <p>
            <mat-button-toggle-group [(ngModel)]="toDosType" aria-label="ToDo Style">
                <mat-button-toggle (click)="getUnfinishedToDos()" value="unfinished">Do zrobienia</mat-button-toggle>
                <mat-button-toggle (click)="getFinishedToDos()" value="finished">Zrobione</mat-button-toggle>
                <mat-button-toggle (click)="getAllToDos()" value="all">Wszystkie</mat-button-toggle>
            </mat-button-toggle-group>
        </p>

        <mat-form-field style="width: 300px;">
            <input placeholder="wyszukaj..." matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

    </div>

    <mat-table *ngIf="todos" [dataSource]="dataSource" matSort #sortRef="matSort">

        <!-- FirstName Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell mat-sort-header style="margin-left: 15px;" *matHeaderCellDef mat-sort-header> Tytuł
            </mat-header-cell>
            <mat-cell *matCellDef="let toDo"> {{toDo.title}}</mat-cell>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="dueDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Termin </mat-header-cell>
            <mat-cell *matCellDef="let toDo"> {{toDo.dueDate | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="profileName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Profil </mat-header-cell>
            <mat-cell *matCellDef="let toDo"> <a [routerLink]="['/profiles', toDo.profileId]">{{ toDo.profileName }}</a>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="isFinished">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ukończone </mat-header-cell>
            <mat-cell *matCellDef="let toDo"> {{toDo.isFinished }} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rola </mat-header-cell>
            <mat-cell *matCellDef="let toDo"> {{toDo.forRole}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="userFullName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Użytkownik </mat-header-cell>
            <mat-cell *matCellDef="let toDo"> {{toDo.userFullName}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
            [ngClass]="{'thisWeekOverdue-row': isThisWeekOverdue(row.dueDate) && !row.isFinished, 'overdue-row': isOverdue(row.dueDate) && !row.isFinished}"
            (click)="openToDoDetailsPage(row.toDoId)" *matRowDef="let row; columns: displayedColumns;"></mat-row>


    </mat-table>

    <mat-paginator (page)="handlePageEvent($event)" [pageSizeOptions]="[10, 20, 50, 100]" [length]="count"
        [pageSize]="pageSize" [showFirstLastButtons]="true" [pageIndex]="pageIndex">
    </mat-paginator>

</div>