<mat-progress-bar *ngIf="!clients" mode="indeterminate"></mat-progress-bar>

<div class="example-container mat-elevation-z0">

    <div style="justify-content: space-between;" class="row-flex">

        <p>
            <mat-button-toggle-group
                *ngIf="currentlyLoggedUser?.role == 'Administrator' || currentlyLoggedUser?.role == 'Manager'"
                [(ngModel)]="clientsType" aria-label="ToDo Style">
                <mat-button-toggle (click)="getAllClients()" value="all">Wszyscy</mat-button-toggle>
                <mat-button-toggle (click)="getClientsWithoutLocalMarketer()"
                    value="unallocated">Nieprzydzielone</mat-button-toggle>
            </mat-button-toggle-group>
        </p>

        <mat-form-field style="width: 300px;">
            <input placeholder="wyszukaj..." matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

    </div>

    <mat-table *ngIf="clients" [dataSource]="dataSource" matSort>

        <!-- FirstName Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell style="margin-left: 15px;" *matHeaderCellDef mat-sort-header> Nazwa </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.name}}
            </mat-cell>
        </ng-container>

        <!-- FirstName Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell style="margin-left: 15px;" *matHeaderCellDef mat-sort-header> Imię </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.firstName}}
            </mat-cell>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.lastName}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Telefon </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.phone}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.email}} </mat-cell>
        </ng-container>

        <!-- CreatorId Column -->
        <ng-container matColumnDef="sellerFullName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sprzedawca </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.sellerFullName}} </mat-cell>
        </ng-container>

        <!-- CreatorId Column -->
        <ng-container matColumnDef="localMarketerFullName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Local Marketer </mat-header-cell>
            <mat-cell *matCellDef="let client"> {{client.localMarketerFullName}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="openClientDetailsPage(row.clientId)" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator></mat-paginator>
</div>

<button (click)="openAddClientBottomSheet()" class="bottom-right" mat-fab extended color="primary">
    <mat-icon>add</mat-icon>
    Dodaj klienta
</button>