<form class="client-details-form" #clientDetailsForm="ngForm" (ngSubmit)="onSubmit(clientDetailsForm)">
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Imię</mat-label>
        <input [(ngModel)]="firstName" name="firstName" matInput type="text" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Nazwisko</mat-label>
        <input [(ngModel)]="lastName" name="lastName" matInput type="text" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Telefon</mat-label>
        <span matPrefix>&nbsp; +48 &nbsp;</span>
        <input [(ngModel)]="phone" name="phone" matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input [(ngModel)]="email" name="email" matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Źródło</mat-label>
        <input [(ngModel)]="source" name="source" matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Opis</mat-label>
        <textarea [(ngModel)]="description" name="description" matInput></textarea>
    </mat-form-field>

    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit">Zapisz zmiany</button>
        <button (click)="openconfirmdeleteDialog()" type="button" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</form>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>