<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="row-flex">
    <mat-progress-bar *ngIf="!profile" mode="indeterminate"></mat-progress-bar>
    <mat-card class="profile-details-card-generalInfo">
        <mat-card-header>
            <mat-card-title>Dane podstawowe</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="profile-details-form" #clientDetailsForm="ngForm" (ngSubmit)="saveChanges()">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Nazwa</mat-label>
                    <input [(ngModel)]="profile.name" name="name" matInput type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Google identyfikator</mat-label>
                    <input [(ngModel)]="profile.googleProfileId" name="googleProfileId" matInput type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Telefon</mat-label>
                    <input [(ngModel)]="profile.phone" name="phone" matInput type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>E-mail</mat-label>
                    <input [(ngModel)]="profile.email" name="email" matInput type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Źródło</mat-label>
                    <input [(ngModel)]="profile.source" name="source" matInput type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Serwis</mat-label>
                    <input [(ngModel)]="profile.customerService" name="customerService" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Miasto</mat-label>
                    <input [(ngModel)]="profile.city" name="city" matInput type="text">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Województwo</mat-label>
                    <input [(ngModel)]="profile.voivodeship" name="voivodeship" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Adres</mat-label>
                    <input [(ngModel)]="profile.street" name="street" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Kod pocztowy</mat-label>
                    <input [(ngModel)]="profile.postCode" name="postCode" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>NIP</mat-label>
                    <input [(ngModel)]="profile.nip" name="nip" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>REGON</mat-label>
                    <input [(ngModel)]="profile.regon" name="regon" matInput>
                </mat-form-field>

                <p>ID: {{profile.id}}</p>
                <p>Utworzono: {{profile.creationDate}}</p>

                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit">Zapisz zmiany</button>
                    <button (click)="openConfirmdDleteDialog()" type="button" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>

                <app-error-card *ngIf="errorMessage" errorMessage="{{errorMessage}}"></app-error-card>

            </form>
        </mat-card-content>

    </mat-card>
    <app-profile-details-deals [deals]="profile.deals" [profileId]="profileId"></app-profile-details-deals>

    <app-profile-details-todos [toDos]="allToDos"></app-profile-details-todos>
</div>