<mat-progress-bar *ngIf="!profile" mode="indeterminate"></mat-progress-bar>

<mat-card class="card">

    <mat-card-header class="card-header">
        <mat-card-title>Dane profilu</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <form #profileDetailsForm="ngForm" (ngSubmit)="saveChanges()">
            <mat-form-field appearance="outline">
                <mat-label>Nazwa</mat-label>
                <input required [(ngModel)]="profile.name" name="name" matInput type="text">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Województwo</mat-label>
                <input required [(ngModel)]="profile.voivodeship" name="voivodeship" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Miasto</mat-label>
                <input required [(ngModel)]="profile.city" name="city" matInput type="text">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Adres</mat-label>
                <input [(ngModel)]="profile.street" name="street" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Kod pocztowy</mat-label>
                <input [(ngModel)]="profile.postCode" name="postCode" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Telefon</mat-label>
                <input [(ngModel)]="profile.phone" name="phone" matInput type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Obsługa klientów</mat-label>
                <mat-select [(ngModel)]="customerService" name="customerService">
                    <mat-option *ngFor="let item of customerServices" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Google identyfikator</mat-label>
                <input [(ngModel)]="profile.googleProfileId" name="googleProfileId" matInput type="text">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Link do folderu z mediami</mat-label>
                <input [(ngModel)]="profile.mediaLink" name="mediaLink" matInput>
            </mat-form-field>

            <p>ID: {{profile.profileId}}</p>
            <p>Utworzono: {{profile.creationDate | date: 'dd-MM-yyyy'}}</p>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Zapisz zmiany</button>
                <button (click)="openConfirmdDleteDialog()" type="button" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>

            <app-error-card *ngIf="errorMessage" errorMessage="{{errorMessage}}"></app-error-card>

        </form>

    </mat-card-content>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

</mat-card>

<app-profile-details-deals [deals]="profile.deals" [profileId]="profileId" [profileName]="profileName"
    [clientEmail]="clientEmail"></app-profile-details-deals>

<app-profile-details-todos *ngIf="!isSeller" [toDos]="allToDos"></app-profile-details-todos>