<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Zadania dla tej umowy</mat-card-title>
    </mat-card-header>

    <mat-card-actions align="start">
        <button (click)="openAddToDoBottomSheet()" mat-raised-button color="accent">Dodaj nowe zadanie</button>
    </mat-card-actions>


    <mat-selection-list role="list" *ngFor="let toDo of toDos">
        <mat-list-item [class.crossedText]="toDo.isFinished" (click)="goToToDo(toDo.toDoId)"
            role="listitem">{{toDo.title}}</mat-list-item>
    </mat-selection-list>

</mat-card>