<h2>Utwórz nowy profil</h2>

<form class="example-form" #addProfileForm="ngForm" (ngSubmit)="onSubmit(addProfileForm.value)">

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Nazwa profilu</mat-label>
        <input required matInput ngModel name="name" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Województwo</mat-label>
        <input required matInput ngModel name="voivodeship" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Miasto</mat-label>
        <input required matInput ngModel name="city" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Ulica i nr</mat-label>
        <input matInput ngModel name="street" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Kod pocztowy</mat-label>
        <input matInput ngModel name="postCode" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Telefon dla klientów</mat-label>
        <input matInput ngModel name="phone" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Obsługa klientów</mat-label>
        <mat-select ngModel name="customerService">
            <mat-option *ngFor="let item of customerServices" [value]="item.value">
                {{item.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Opis firmy</mat-label>
        <textarea required maxlength="500" #description
            placeholder="Abysmy mogli lepiej zrozumieć ten biznes, opowiedz nam w kilku słowach czym zajmuje się ta firma."
            matInput ngModel name="description" type="text"></textarea>
        <mat-hint style="color: red;" align="start">Ten opis przeczyta klient w formularzu danych
            podstawowych!</mat-hint>
        <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
    </mat-form-field>

    <app-error-card *ngIf="errorMessage" errorMessage="{{errorMessage}}"></app-error-card>

    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
        <button type="button" (click)="closeBottomSheet()" style="margin-left: 16px;" mat-button>Anuluj</button>
    </div>
</form>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>