<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar class="mat-elevation-z2">

        <button (click)="snav.toggle()" mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
        </button>

        <span>Local Marketer</span>

        <span class="example-spacer"></span>

        <p style="font-size: 12px;">Witaj {{firstName}} {{lastName}}</p>

        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>search</mat-icon>
        </button>

        <button mat-icon-button class="example-icon">
            <mat-icon>share</mat-icon>
        </button>

    </mat-toolbar>


    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [opened]="true">
            <div class="sidenav-wrapper">
                <mat-nav-list class="sidenav-content">
                    <div class="top-items">
                        <mat-list-item routerLink="/clients"
                            routerLinkActive="active-link-clients">Klienci</mat-list-item>
                        <a mat-list-item routerLink="/profiles" routerLinkActive="active-link-profiles">Profile</a>
                        <a mat-list-item routerLink="/deals" routerLinkActive="active-link-deals">Umowy</a>
                        <a mat-list-item routerLink="/todos" routerLinkActive="active-link-todos">Zadania</a>
                        <a *ngIf="isAdministrator" mat-list-item routerLink="/users"
                            routerLinkActive="active-link-users">Użytkownicy</a>
                    </div>
                    <div class="bottom-item">
                        <a mat-list-item (click)="onLogout()">Wyloguj</a>
                    </div>
                </mat-nav-list>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="{{color}}">

            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>