<mat-progress-bar *ngIf="!deals" mode="indeterminate"></mat-progress-bar>

<div class="example-container mat-elevation-z0">

    <div style="justify-content: space-between;" class="row-flex">

        <p></p>

        <mat-form-field style="width: 300px;">
            <input placeholder="wyszukaj..." matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

    </div>

    <mat-table *ngIf="deals" [dataSource]="dataSource" matSort>

        <!-- FirstName Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell style="margin-left: 15px;" *matHeaderCellDef mat-sort-header> Nazwa </mat-header-cell>
            <mat-cell *matCellDef="let deal"> {{deal.name}}
            </mat-cell>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="creationDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Data utworzenia </mat-header-cell>
            <mat-cell *matCellDef="let deal"> {{deal.creationDate | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Data zakończenia </mat-header-cell>
            <mat-cell *matCellDef="let deal"> {{deal.endDate | date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="stage">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Etap </mat-header-cell>
            <mat-cell *matCellDef="let deal"> {{deal.stage}} </mat-cell>
        </ng-container>

        <!-- Source Column -->
        <ng-container matColumnDef="creatorId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Kreator </mat-header-cell>
            <mat-cell *matCellDef="let deal"> {{deal.creatorId}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="openDealDetailsPage(row.id)" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator (page)="handlePageEvent($event)" [pageSizeOptions]="[10, 20, 50, 100]" [length]="count"
        [pageSize]="pageSize" [showFirstLastButtons]="true" [pageIndex]="pageIndex">
    </mat-paginator>
</div>