<mat-progress-bar *ngIf="!users" mode="indeterminate"></mat-progress-bar>

<div class="example-container mat-elevation-z0">

    <div style="justify-content: space-between;" class="row-flex">

        <p>
        </p>

        <mat-form-field style="width: 300px;">
            <input placeholder="wyszukaj..." matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

    </div>

    <mat-table *ngIf="users" [dataSource]="dataSource" matSort #sortRef="matSort">

        <ng-container matColumnDef="userId">
            <mat-header-cell mat-sort-header style="margin-left: 15px;" *matHeaderCellDef mat-sort-header> ID
            </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.userId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Imię </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.lastName }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Telefon </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rola </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="accesDenied">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Dostęp </mat-header-cell>
            <mat-cell *matCellDef="let user"> <mat-slide-toggle [(ngModel)]="!user.accesDenied"></mat-slide-toggle>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clientsCount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Klienci </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.clientsCount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="profilesCount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Profile </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.profilesCount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="toDosCount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Zadania </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.toDosCount}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator (page)="handlePageEvent($event)" [pageSizeOptions]="[10, 20, 50, 100]" [length]="count"
        [pageSize]="pageSize" [showFirstLastButtons]="true" [pageIndex]="pageIndex">
    </mat-paginator>

</div>

<button (click)="openAddUserBottomSheet()" class="bottom-right" mat-fab extended color="primary">
    <mat-icon>add</mat-icon>
    Dodaj użytkownika
</button>