$clients: #7091b2;
$clients-dark: #cbd4db;

$profiles: #82849b;
$profiles-dark: rgb(208, 211, 225);

$todos: #769895;
$todos-dark: #cbdedc;

$deals: #b2b170;
$deals-dark: #e1e0ce;

$users: #8b9298;
$users-dark: #c5ccce;


