/* You can add global styles to this file, and also import other style files */
@import 'src/LM-theme.scss';
@import 'src/colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container{
    &.success-snackbar{
      --mdc-snackbar-container-color: #3b904a;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }

  .row-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .clients-color{
    background-color: $clients;

  }

  .profiles-color{
    background-color: $profiles;
  }

  .todos-color{
    background-color: $todos;
  }

  .deals-color{
    background-color: $deals;
  }
  
  .mat-sidenav{
    border-right: none;
  }

  .card{
    margin: 1em;
 }
 
 .card-header{
    margin-bottom: 18px;
 }

 .form-field{
  margin-right: 12px;
}

.crossedText{
  text-decoration:line-through;
}


