<mat-progress-bar *ngIf="!deal" mode="indeterminate"></mat-progress-bar>

<mat-card class="card">

    <mat-card-header>
        <mat-card-title>Dane umowy</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form #dealDetailsForm="ngForm" (ngSubmit)="saveChanges()">

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Nazwa</mat-label>
                <input [(ngModel)]="deal.name" name="name" matInput type="text">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Etap</mat-label>
                <input [(ngModel)]="deal.stage" name="stage" matInput type="text">
            </mat-form-field>

            <mat-form-field *ngIf="loggedUser?.role != 'LocalMarketer'" appearance="outline" class="example-full-width">
                <mat-label>Cena</mat-label>
                <input disabled [(ngModel)]="deal.price" name="price" matInput type="number">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Data zakończenia</mat-label>
                <input disabled name="endDate" [(ngModel)]="deal.endDate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Opis</mat-label>
                <textarea [(ngModel)]="deal.description" name="description" matInput></textarea>
            </mat-form-field>

            <p>ID: {{deal.dealId}}</p>
            <p>Utworzono: {{deal.creationDate | date: 'dd-MM-yyyy'}}</p>
            <p>Kreator: {{deal.creatorId}}</p>
            <p>Id profilu: {{deal.profileId}}</p>
            <!-- <p>Uzytkownik profilu: {{deal.profileUserId}}</p> -->


            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Zapisz zmiany</button>
                <button (click)="openConfirmdDleteDialog()" type="button" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>

            <app-error-card *ngIf="errorMessage" errorMessage="{{errorMessage}}"></app-error-card>

        </form>

    </mat-card-content>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

</mat-card>

<app-deal-details-todos [toDos]="deal.toDos" [dealId]="dealId" [dealEndDate]="deal.endDate"
    [dealCreationDate]="deal.creationDate"></app-deal-details-todos>